.filterDateFieldMin {
    margin-top: 2%;
}

.filterDateFieldMax {
    margin-top: 5%;
}

.filterButton {
    width: 40% !important;
    margin-top: 6%;
    margin-left: 60%;
}

.outsideFilter {
    padding: 12px;    
    background-image: inherit;
    border-radius: 20px;
}

body {
    background-color: black;
}