.line {
    text-align: start !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 600px !important;
}

.lineNome {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 150px !important;
}

.lineIcons {
    align-items: flex-end !important;
    padding: 0px !important;
}

.filterMenu {
    right: 10% !important;
}

