.line {
    text-align: start !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 600px !important;
}

.lineNome {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 150px !important;
}

.lineIcons {
    align-items: flex-end !important;
    padding: 0px !important;
}

.filterMenu {
    right: 10% !important;
}

.TableItens {
    background-color: #C6D2F8;
    border-radius: 5px;
}

.filledButtonCreate {
    border-color: #707070 !important;
    background-color: #6D7AE0 !important;
    color: #ffffff !important;
  }
  
  .filledButtonCreate:hover {
    background-color: #ffffff !important;
    color: #6D7AE0 !important;
  }

  b {
      color: #ffffff
  }